.img-gift,
.photo{
    position: absolute;
    transition: transform .5s, background-color .5s, padding .5s, opacity .5s, border .5s;
}

.img-gift{
    text-shadow: 1px 1px 5px #000;
    font-size: 3vw;
    z-index: 999;
    animation-name:  initialSizeAnimation;
    animation-duration: 1s;
    animation-iteration-count: 1;
}
.img-gift:hover{
    transform: scale(1.4, 1.4);
    cursor: pointer;
}

.photo{
    width: 40vw;
    height: 40vh;
    position: absolute;
    transform: scale(0,0);
    object-fit: contain;
    z-index: 999;
    border-radius: 20px;
}

.photo-opened{
    transform: scale(1,1);
    cursor: pointer;
}
.photo-opened:hover{
    background-color: #f04;
    padding: 10px;
    opacity: .6;
    border: 1px solid #000;
}

.photo-closed{
    transform : scale(0,0)
}