.lateral-msg{
    --margin-distance : 10vw;
    font-family: 'Amaranth', sans-serif;;
    font-size: 1vw;
    position : absolute;
    width: 40vw;
    height: 40vw;
    transition: left  2s;
    padding: 1vh;
    border-radius: 2vh;

}

.msg-emoji{
    text-shadow:1px 1px 5px #000;
}

@media (max-width : 500px){
    .lateral-msg{
        font-size : 3vw;
    }
}



