.lateral-msg{
    --margin-distance : 200px;
    font-family: 'Amaranth', sans-serif;;
    font-size: 1vw;
    position : absolute;
    width: 300px;
    transition: left  2s;
    max-width: 15vw;
    padding: 10px;
    border-radius: 20px;
    background: inherit;
}

.msg-emoji{
    text-shadow:1px 1px 5px #000;
}



