.lateral-msg{
    --margin-distance : 200px;
    font-family: 'Amaranth', sans-serif;;
    font-size: 1vw;
    position : absolute;
    width: 40vw;
    transition: left  2s;
    padding: 10px;
    border-radius: 20px;

}

.msg-emoji{
    text-shadow:1px 1px 5px #000;
}

@media (max-width : 500px){
    .lateral-msg{
        font-size : 2vw;
    }
}



