.lateral-msg{
    --margin-distance : 10vw;
    font-family: 'Amaranth', sans-serif;;
    font-size: 30px;
    position : absolute;
    width: 30vw;
    height: 40vh;
    transition: left  2s;
    padding: 1vh;
    border-radius: 2vh;

}

.msg-emoji{
    text-shadow:1px 1px 5px #000;
}


