
.initial-title{
    position: absolute;
    top : -30vh;
    font-family: 'Amaranth', sans-serif;;
    font-size: 3vw;
    transition: top 1s;
    text-shadow: 0px 0px 40px #ff0;
    text-align: center;
    width: 100vw;
}

.initial-title-animation{
    top : 2vh;
}

