
.initial-title{
    position: absolute;
    left : 30vw;
    top : -30vh;
    font-family: 'Amaranth', sans-serif;;
    font-size: 3vw;
    padding: 20px;
    transition: top 1s;
    text-decoration: dashed;
}

.initial-title-animation{
    top : 2vh;
}


@media (max-width : 500px){
    .initial-title{
        font-size : 5vw;
        left: 20vw;
    }
}



