.particle{
    position: absolute;
    color : #f00;
    text-shadow: var(--particle-shadow);
    animation-name: initialSizeAnimation;
    animation-duration: 0.2s;
    animation-iteration-count: 1;
    user-select: none;
    z-index: 0;
    font-size: 0.5vw;
}
