

body {
  padding: 0;
  margin: 0px;
  width: 100vw;
  height: 100vh;
  --particle-shadow : 0px 0px 10px #ff0;
  --background-color : linear-gradient(to right, #f06,#a03);
  background: var(--background-color);
  user-select: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes initialSizeAnimation {
    0%{
        font-size: 0px;
    }
    50%{
        font-size: calc(auto/2);
    }
    100%{
        font-size: auto;
    }
}