
html{
    overflow: hidden;
}
#root{
    overflow: hidden;
}


body {
    padding: 0;
    width: 100vw;
    height: 100vh;
    --particle-shadow : 1px 1px 10px #ff0;
    --background-color : linear-gradient(to right, rgb(192, 56, 110),rgb(243, 70, 119));
    background: var(--background-color);
    user-select: none;
    overflow: hidden;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@keyframes initialSizeAnimation {
    0%{
        font-size: 0px;
    }
    50%{
        font-size: calc(auto/2);
    }
    100%{
        font-size: auto;
    }
}

@media (max-width : 500px){
    body{
        --background-color : linear-gradient(to bottom, rgb(192, 56, 110),rgb(243, 70, 119));
    }
}